<% content_for :full_width_slide do %>
  <div class='top-banner' >
    <%= image_tag 'products/top-banner.jpg' %>
  </div>
<% end %>

<div id="wrapper" class="row" data-hook>
  <%= render 'spree/shared/search' %>

  <div class='clear'></div>
  <%
    paginated_products ||= @products
  %>
  <% if @products.blank? %>
    <div class='no-product-found'><%= t(:no_products_found) %></div>
  <% end %>

  <div id='feature-products'>
    <ul>
      <% @feature_products.each do |product| %>
        <%= render :partial => 'featured_product', :locals => { :product => product } %>
      <% end %>
    </ul>
  </div>

  <div id='product-list'>
    <ul>
      <% @products.each do |product| %>
        <%= render :partial => 'product', :locals => { :product => product } %>
      <% end %>
    </ul>
  </div>

  <div class='clear'></div>

  <% if paginated_products.respond_to?(:num_pages) %>
    <%= paginate paginated_products %>
  <% end %>
</div>
